<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script crossorigin src="react.js"></script>
    <script crossorigin src="reactdom.js"></script>
    <!-- Load Babel -->
    <script src="babel.js"></script>
    <script type="text/babel" src="vidu1.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>